<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>

	<h1>CASO 1</h1>

	<div>
		<ul>
			<li th:each="prod : ${productos}" th:text="${prod.id} + ' - ' + ${prod.nombre}"></li>
		</ul>
	</div>

	<h1>CASO 2</h1>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>PRECIO</th>
				<th>STOCK</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prod : ${productos}">
				<td th:text="${prod.id}"></td>
				<td th:text="${prod.nombre}"></td>
				<td th:text="${prod.precio}"></td>
				<td th:text="${prod.stock}"></td>
			</tr>
		</tbody>

	</table>
</body>

</html>